{% extends 'base.html' %}
<!--  -->
{% block title %}
Anketa
{% endblock title %}
<!--  -->
{% block content %}

<div class="container">
<!--  -->

{% if user.is_authenticated %}
<br>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Qidirish" aria-label="Search" value="{{q}}">
  <button class="btn btn-info my-2 my-sm-0" type="submit">Qidirish</button>
</form>
<br>
  {% if anketas %}
    {% if q %}
    <h1 class="header-title">Hamma natijalar</h1>
    {% else %}
    <h1 class="header-title">Hamma anketalar</h1>
    {% endif %}
  {% elif not anketas %}
  <h1 class="header-title">Anketa mavjud emas</h1>
  {% endif %}

<br>
{% for anketa in anketas %}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="">
      <img src="{{ anketa.photo.url }}" width="160" alt="{{ anketa.photo.url }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mr-auto"><a href="{% url 'anketa_detail' anketa.pk %}">
        {{anketa}} | Turi:
        {% if anketa.is_personal == True %}
          Shaxsiy
        {% else %}
          Oilaviy
        {% endif %}
        </a></h5> 
        <li class="form-inline my-2 my-lg-0">
          <h4 class="text-info"></h4>
          <!-- <h4 class="text-info">

          </h4> -->
          <a class="btn btn-danger" href="{% url 'anketa_delete' anketa.pk %}" style="margin-right: 10px;">O'chirish</a>
          <!-- <a class="btn btn-secondary" href="#">Arxivga</a> -->
        </li>
        <li class="form-inline my-2 my-lg-0">
        </li>
        <p class="card-text">
          <!-- {{ anketa }} -->
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<nav aria-label="...">
  <ul class="pagination">
    {% if not page_num == 0 %}
      {% if page_num <= 1 %}
        <li class="page-item disabled">
          <a href="" class="page-link">Oldingi</a>
        </li>
      {% else %}
      <li class="page-item">
        <a href="?page={{ page_num|add:'-1' }}" class="page-link">Oldingi</a>
      </li>
      <li class="page-item"><a class="page-link" href="?page={{ page_num|add:'-1' }}">{{ page_num|add:'-1' }}</a></li>
      {% endif %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num}}</a>
      </li>
      {% if last_page > page_num %}
      <li class="page-item"><a class="page-link" href="?page={{ page_num|add:'1' }}">{{ page_num|add:'1' }}</a></li>
      {% endif %}
      {% if last_page > page_num|add:'1' %}
      <li class="page-item"><a class="page-link" href="?page={{ page_num|add:'2' }}">{{ page_num|add:'2' }}</a></li>
      {% endif %}
      {% if last_page > page_num|add:'2' %}
      <li class="page-item"><a class="page-link" href="?page={{ page_num|add:'3' }}">{{ page_num|add:'3' }}</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page=0">Hammasi</a></li>
      {% if page_num == last_page %}
      <li class="page-item disabled">
        <a class="page-link" href="">Keyingi</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_num|add:'1' }}">Keyingi</a>
      </li>    
      {% endif %}
      
    {% else %}
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item active" aria-current="page"><a class="page-link" href="?page=0">Hammasi</a></li>
      {% if not last_page == 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ last_page }}">{{ last_page }}</a>
      </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>

{% else %}
<h2 class="text-danger">!Xato manzilga kirdingiz <a href="{% url 'home' %}" class="link">bosh sahifa</a>ga qayting </h2>
{% endif %}
</div>

{% endblock content %}