{% extends 'base.html' %}
<!--  -->
{% block title %}
{{ title }}
{% endblock title %}
<!--  -->
{% block content %}
<div class="container-fluid">
    <form action="/anketa/submit/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="checkbox" checked hidden name="personal" id="personal" value="True">
        <input type="checkbox" checked hidden name="has_mer" id="has_mer" value="False">
        <input type="hidden" id="code" name="code" value="some_random_code">
        <input type="checkbox" checked hidden name="member_count" id="memberCount" value="0">
        <h2 class="sec-title">Shaxsiy Malumotlaringiz:</h2>
        <div class="seq-body">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form__input" name="fname" id="fname" placeholder=" " required>
                    <label class="form__label" for="fname">Ism(ingliz tilida)</label>
                </div>
                <div class="input-group">
                    <input type="text" class="form__input" name="lname" id="lname" placeholder=" " required>
                    <label class="form__label" for="lname">Familya(ingliz tilida)</label>
                </div>
                <div class="box">
                    <label class="sec-title" for="">Jins:</label>
                    <div class="input-group">
                        <input type="radio" class="form__input" name="gender" id="male" value="male" required>
                        <label class="form__label_radio" for="male">Erkak</label>
                        <i for="female"></i>
                    </div>
                    <div class="input-group">
                        <input type="radio" class="form__input" name="gender" id="female" value="female" required>
                        <label class="form__label_radio" for="female" >Ayol</label>
                        <i for="female"></i>
                    </div>
                </div>
                <div class="box">
                    <label class="sec-title" for="birth_date" >Tug'ilgan Sana:</label>
                    <div class="input-group">
                        <input type="date" name="birth_date" id="birth_date" required>
                    </div>
                </div>
                <div class="box">
                    <label class="sec-title" for="city" >Tug'ilgan joy:</label>
                    <div class="input-group">
                        <select name="city" id="city" onchange="getCity()" required>
                            <!-- <option value="">_______</option> -->
                        </select>
                        <select name="district" id="district" onchange="getDistrict()" required>
                            <!-- <option value="">_______</option> -->
                        </select>
                        <div class="input-group">
                            <input class="form__input" type="text" name="street" id="street" placeholder="  " required>
                            <label class="form__label" for="street">Ko'cha/Qishloq nomini va raqami</label>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <label class="sec-title" for="pass_seria">Passport:</label>
                    <div class="input-group">
                        <input class="form__input" type="text" name="pass_seria" id="pass_seria" maxlength="2" minlength="2" size="2" style="text-transform:uppercase; width: 55px;" onkeydown="return /[a-z]/i.test(event.key)" placeholder="  " required>
                        <label class="form__label" for="pass_seria">seria: AA</label>
                    </div>
                    <div class="input-group">
                        <input class="form__input" type="text" name="pass_num" id="pass_num" maxlength="7" minlength="7" size="7" style="text-transform:uppercase; width: 135px;" pattern="[0-9]{7}"  placeholder="  " required>
                        <label class="form__label" for="pass_num">raqam: 0000000</label>
                    </div>
                </div>
                <div class="box">
                    <label class="sec-title" for="pass_end_date" >Amal qilish muddati:</label>
                    <div class="input-group">
                        <input type="date" name="pass_end_date" id="pass_end_date" required>
                    </div>
                </div>
                <div class="box">
                    <label class="sec-title" for="">Fotosurat yuklash:</label>
                    <p class="text-danger"><b>Diqqat!</b> Suratga tik holatda qaralgan, ortiqcha yorug'lik, soyalarsiz, 5x5 o'lchamda va orqa fon oq rangda olingan bo'lishi kerak</p>
                    <div class="about-image">
                        <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/chinese_woman_false.jfif" alt="" height="200">                            
                        <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/photo-example-light.png"  height="200" alt="">                            
                        <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/photo-example-background.png"  height="200" alt="">                            
                        <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/photo-example-true.png" height="200" alt="">                            
                    </div>
                    <input type="file" accept="image/*" name="image" id="image" required>
                </div>
                <div class="box">
                    <div class="box">
                        <label class="sec-title" for="edu_grade" >Talim darajangiz:</label>
                        <div class="input-group">
                            <select name="edu_grade" id="edu_grade" required>
                                <option value="">----------</option>
                                <option value="class_9">Maktab(9-sinf)</option>
                                <option value="class_11">Maktab(11-sinf)</option>
                                <option value="litsey">Litsey</option>
                                <option value="collage">Kollej</option>
                                <option value="hight_school">Oliy talim</option>
                                <option value="magistr">Magistratura</option>
                                <option value="aspirant">Aspirantura</option>
                                <option value="doctorant">Doctorantura</option>
                            </select>
                        </div>
                    </div>
                    <div class="box">
                        <label class="sec-title" for="family_state" >Oilaviy holatingiz</label>
                        <div class="input-group">
                            <select name="family_state" onchange="merAdd()" id="family_state" required>
                                <option value="">----------</option>
                                <option value="not_merried">Turmush qurmagan</option>
                                <option value="merried">Turmush qurgan</option>
                                <option value="divorced">Ajrashgan/Ajrashuvda</option>
                                <option value="single">Yolg'iz </option>
                            </select>
                        </div>
                    </div>
                    <div class="box">
                        <label class="sec-title">Telefon raqami:</label>
                        <div class="input-group">
                            <input class="form__input" type="text" name="phone" pattern="[+][0-9]{12}" id="phone" maxlength="14" minlength="12" size="13" placeholder="  " required>
                            <label class="form__label" for="phone">Tel: ( joy qoldirmasdan) </label>
                        </div>
                    </div>
                </div>
                
                <h5 class="text-info">21 yoshdan oshmagan farzand(lar)ingiz va turmush o'rtog'ingiz xaqida malumot kiriting ( agar mavjud bo'lsa )</h5>
                <div style="display: none;" id="photoRule" class="box">
                    <p class="text-info">Yoshbolalar uchun shablonlar: surat 5x5 o'lchamda bo'lishi kerak</p>
                    <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/baby_false_dnt_look.png" alt="baby fals" height="180">
                    <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/baby_false_wth_toy.png" alt="baby fals" height="180">
                    <img src="https://greencard-new-tech.netlify.app/src/images/img_templates/baby_true.png" alt="baby fals" height="180">
                </div>
                <div id="memberList" class="box">
                    
                </div>
                <button id="submit" class="btn btn-success d-bloc" hidden >.</button>
            </div>
            <br>
        </div>
    </form>
    <button class="btn btn-outline-info d-bloc" onclick="addMember()"> + Farzand qo'shish</button>
    <br> 
    <label for="submit" class="btn btn-success d-bloc" style="width: 120px; margin:auto;">yuborish</label>
    <br> 
</div>
{% endblock content %}