{% extends 'base.html' %}
<!--  -->
{% block title %}
Home 
{% endblock %}
<!--  -->
{% block random %}
{{ random }}
{% endblock %}
<!--  -->
{% block content %}
    
    <div id="home" class="header-description">
        <h1 class="header-title-text">Green Card</h1>
        <h2 class="header-secondary-title">SAMARQAND</h2>
        <p class="header-description-text text-warning">
            Green Card Lotereyasi — AQSh hukumati tomonidan e'lon qilingan "DV Lottery" dasturi har yili dunyoning ko'plab mamlakatlaridan minglab odamlarga AQShga kelib yashash orzusini ro'yobga chiqarish imkoniyatini beradi. Siz ham buni qo'ldan boy bermay <a href="{% url 'anketa'%}"> anketa</a> to'ldiring !<br>
        </p>
    </div>



{% endblock content %}
