{% extends 'base.html' %}
<!--  -->
{% block title %}
Home 
{% endblock %}
<!--  -->
{% block random %}
{{ random }}
{% endblock %}
<!--  -->
{% block content %}
    
    <div id="home" class="header-description">
        <h1 class="header-title-text">Green Card</h1>
        <h2 class="header-secondary-title">SAMARQAND</h2>
        <p class="header-description-text text-warning">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, dicta. Harum consectetur adipisci dignissimos porro, sit magni est fugit cum?
        </p>
    </div>



{% endblock content %}
