{% extends 'base.html' %}
<!--  -->
{% block title %}
Anketa
{% endblock title %}
<!--  -->
{% block content %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Anketa Yuklandi!</strong> Sizning anketangiz muvaffaqqiyatli yuklandi.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid">
    
    <table class="submited-datas">
        <tr>
            <span colspan="2" class="success-img"></span>
            <h2 class="table-title">Anketa Muvaffaqqiyatli kiritildi</h2>
        </tr>
        <tr>
            <td>Ism: </td>
            <td>{{ fname }}</td>
        </tr>
        <tr>
            <td>Familiya: </td>
            <td>{{ lname }}</td>
        </tr>
        <tr>
            <td>Yashash joyi: </td>
            <td>{{ address }}</td>
        </tr>
    </table>
    {% if members %}
    
    <table class="submited-datas">
        <tr>
            <h2 colspan="2" class="table-title">Oila azo(lar)i:</h2>
        </tr>
        {% for member in members %}
        <tr>
            <td> {{ member.0 }} -- </td>
            <td> {{ member.1 }} -- </td>
            <td> {{ member.4 }} </td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}
<!-- 
    {% if payed %}
        <p class="text-success">To'lov amalga oshirilgan</p>
    {% else %}
        <p class="text-danger btn text-a-c d-bloc">To'lov amalga oshirilmagan | Agar to'lov qilinmasa anketa malumotlar bazasidan o'chiriladi</p>
        <a href="#" target="_blank" rel="noopener noreferrer" style="width: 120px; margin:auto;" class="btn btn-success d-bloc"> To'lash </a>
    {% endif %}

     -->
</div>
{% endblock content %}